.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.whitespace {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -100vh;
}

.navTopbar {
  background-color: white;
  border-bottom: 16px solid lightgray;
  height: 56px;
  z-index: 1;
}

.topbarActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuBtn {
  margin: 4px 16px;
  height: 56px;
  padding: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.menuBtn > img {
  height: 24px;
}

.menuBtn:hover {
  background-color: rgba(0, 0, 0, 0);
}

.dropdown {
  position: absolute;
  background-color: white;
  width: 100%;
  overflow: hidden;
}

.dropdown.hidden {
  height: 0px;
}

.navSidebar {
  border-right: 16px solid lightgray;
  height: 100vh;
  height: 100dvh;
  width: 320px;
  overflow: hidden;
  display: none;
  background-color: white;
}

.contentContainer {
  height: calc(100vh - 72px);
  height: calc(100dvh - 72px);
  flex-grow: 1;
  overflow: hidden;
}

.contentOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(100vh - 72px);
  height: calc(100dvh - 72px);
  width: 100%;
}

.contentOverlay.hidden {
  display: none;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .navTopbar {
    display: none;
  }

  .navSidebar {
    display: flex;
  }

  .contentContainer {
    height: 100vh;
    height: 100dvh;
  }

  .contentOverlay {
    display: none;
  }
}
